* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.container {
    height: 85vh;
    width: 45vw;
    margin: 50px auto;
    background-color: rgb(49, 49, 49);
    color: white;
    /* border: 2px solid red; */
    border-radius: 8px;
}

.container:hover {
    outline: 2px solid rgb(255 255 255);
    box-shadow: rgb(207 207 246) 0px 0px 20px 3px;
}


h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
}

.hi-score {
    text-align: end;
    padding-top: 7px;
    padding-right: 18px;
    font-weight: 400;
    font-size: 16px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 18px;
    background-color: rgb(52, 52, 52);
    padding: 5px 0;
    /* font-size: 21px; */
    /* border: 2px solid red; */

}

form p {
    font-size: 18px;
}

form>input {
    padding: 6px 20px;
    border-radius: 8px;
}

.guess::placeholder {
    font-weight: 500;
    font-size: 16px;
}

.guess:hover {
    border: 2px solid rgb(93, 93, 255);
    box-shadow: rgb(93, 93, 255) 0px 0px 12px 2px;
}

.display-msg {
    height: 30px;
    /* border: 2px solid yellow; */
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: rgb(45, 255, 45);
}


.message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-size: 22px;
    margin-top: 30px;
    /* border: 2px solid red; */

}

.message p {
    font-size: 18px;
    margin-top: 5px;
    text-align: center;
}

.guessesSlot {
    background-color: rgb(70, 70, 70);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 22px;

}

.btn {
    padding: 5px 18px;
    background-color: rgb(99, 99, 255);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid white;
    margin-top: 10px;
    width: 115px;
}

.btn:hover {
    background-color: rgb(120, 120, 255);
    cursor: pointer;
}

.btn.disabled {
    background-color: rgb(80, 80, 197);
    cursor: not-allowed;
    opacity: 0.7;
}

.score {
    color: rgb(255, 162, 24);
    padding-left: 8px;
}

@media (max-width : 1200px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        margin: 80px 0;
        width: 85vw;
        height: 85vh;
    }

    .btns {
        flex-direction: column;

    }

    .btn {
        min-width: 155px;
    }

    .btn button {
        width: 155px;
    }

    .main-msg {
        text-align: center;
    }
}

@media (max-width : 350px) {
    form {
        margin-top: 22px;
    }

    .message {
        margin-top: 80px;
    }

    .main-msg {
        padding: 10px;
        text-align: center;
        margin-top: 74px;
    }

    h2 {
        font-size: 22px;
    }

    .hi-score{
        font-size: 16px;
    }

    .container {
        margin: 20px 0;
        width: 85vw;
        height: 85vh;
    }
}